datos/menu.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:annotation>
        <xs:documentation>
            Schema XSD para validar el menú del restaurante.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="plato" type="PlatoType" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="fechaPublicacion" type="xs:date" use="required"/>
            <xs:anyAttribute processContents="lax"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PlatoType">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="precio">
                <xs:simpleType>
                    <xs:restriction base="xs:decimal">
                        <xs:minInclusive value="1.00"/>
                        <xs:maxInclusive value="200.00"/>
                        <xs:fractionDigits value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="fechaRegistro" type="xs:date"/>
            <xs:element name="categorias" type="CategoriasType"/>
            <xs:element name="alergenos" type="AlergenosType" minOccurs="0"/>
            <xs:element name="descripcion">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="10"/>
                        <xs:maxLength value="300"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="disponible">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="true"/>
                    <xs:enumeration value="false"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <xs:complexType name="CategoriasType">
        <xs:sequence>
            <xs:element name="categoria" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AlergenosType">
        <xs:sequence>
            <xs:element name="alergeno" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
